<h1>Pagina de catalogo</h1>

<a href="/products/new">Add new Product</a>


<% products.forEach(function(product){ %>
<div class="product">
  <h3><%= product.name %></h3>
  <p><%= product.price %></p>
  <img src="<%= product.image %>">
  <p class=<% if(product.available){%>'available'> Available<%}else{%>'out_of_stock'>Out of Stock <% } %></p>
  <a href="/products/<%= product._id %>">More Info</a>
</div>


<% }) %>
