<form method="POST" action="/products">
  <input type=text name="product[name]" placeholder="Product name">
  <br>
  <input type=text name="product[image]" placeholder="Image url">
  <br>
  <input type=number name="product[price]" placeholder="price">
  <br>
  <textarea placeholder="Add a description" name=product[description]></textarea>
  <br>
  <input placeholder="In Stock" type=number name="product[stock]"><br>
  <input type="submit">
</form>
