
#target {
    position: fixed;
    width: 100px;
    height: 100px;
}


#ganaste {
    display: none
}

#caminando {
    position: fixed;
    z-index: -9999
}

.highlighted{
    background-color: green
}
.hidden {
    display: none;
    color: white
}

p {
    display: none
}

input {
    Display: none
        
}
